<div>
    <p class="title">Experiências</p>
    <div>
        <ul>
            <li class="text-apresentation"><b>Empresa</b>: Pacto Soluções
                <br><b>Cargo</b>: Estagiário de Analista de Dados/Full-Stack Angular
                <br><b>Periodo</b>: 10/04/2022 - 12/05/2023 <br>
                <br>Durante o estágio na Pacto Soluções, atuei como Analista de Dados e desenvolvedor Angular. Destaco a
                criação de um dashboard de análise de dados como um dos projetos em que participei. Utilizei Angular
                para desenvolver uma interface intuitiva e responsiva, e integrei o sistema de pagamento com o gateway
                Stripe. Além disso, tive meus primeiros contatos com Flutter, expandindo meu conhecimento no
                desenvolvimento mobile.
            </li>
        </ul>
    </div>
</div>