<div class="home-holder-content">
    <H1>Olá, 👋 Me chamo <b>João Victor</b></H1>
    <br>
    <div>
        <p class="text-apresentation">Sou um desenvolvedor web apaixonado pela programação. Sempre em busca de novos
            desafios, meu objetivo é criar experiências incríveis na web. Atualmente, estou focado em estudar o Flutter,
            um framework inovador para o desenvolvimento de aplicativos móveis. Com essa nova ferramenta, estou
            determinado a aprimorar minhas habilidades e proporcionar resultados impressionantes aos meus clientes.</p>
    </div>
    
    <div>
        <a href=""></a>
    </div>
</div>

<img align="center"  height="70" width="50" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" />
<img align="center"  height="70" width="50" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"co/>
<img align="center" alt="sak-Python" height="50" width="50" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg">
<img align="center" alt="sak-HTML" height="50" width="50" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
<img align="center" alt="sak-CSS" height="50" width="50" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg">
<img align="center" alt="sak-Flutter" height="50" width="50" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flutter/flutter-original.svg">
<!--  
    <img align="center" alt="sak-Python" height="50" width="50" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg">
    
-->


          