<div class="home-holder-content">
    <div>
        <h1>Olá, 👋 Me chamo <b>João Victor</b></h1>
    </div>
    <div class="group_icons">
        <a href="https://www.linkedin.com/in/jo%C3%A3o-victor-alves-costa-14549b231/" target="_blank">
            <img  height="33" width="40"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" />
        </a>
        <a href="https://wa.me/5511965152953" target="_blank">
            <img height="40" width="40" src="../../../../../assets/icons8-phone.svg" hr />
        </a>
        <a href="mailto:joaovictoralvescosta051@gmail.com" target="_blank">
            <img height="40" width="40" src="../../../../../assets/icons8-gmail.svg" />
        </a>
        <a href="https://github.com/saak01/" target="_blank">
            <img height="40" width="40"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />
        </a>
    </div>
</div>

<br>

<div>
    <p class="text-apresentation">Sou um desenvolvedor web apaixonado pela programação. Sempre em busca de novos
        desafios, meu objetivo é criar experiências incríveis na web. Atualmente, estou focado em estudar o Flutter,
        um framework inovador para o desenvolvimento de aplicativos móveis. Com essa nova ferramenta, estou
        determinado a aprimorar minhas habilidades e proporcionar resultados impressionantes aos meus clientes.</p>
</div>

<img align="center" height="70" width="50"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" />
<img align="center" height="70" width="50"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" co />
<img align="center" alt="sak" height="50" width="50"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg">
<img align="center" alt="sak-HTML" height="50" width="50"
    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
    <img align="center" alt="sak-Flutter" height="50" width="50"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flutter/flutter-original.svg">