<section>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav-content>
            <mat-toolbar >
                <mat-toolbar>
                    <div>
                        <span class="title">João</span>
                        <span class="sub-title">Victor</span>
                    </div>
                    <div class="containter-content">

                        <div class="content">
                            <button>
                                <a routerLinkActive="active" class="content-text" (click)="gotToAboutMe()">Sobre mim</a>
                            </button>
                        </div>
                        <div class="content">
                            <button>
                                <a routerLinkActive="active" class="content-text" (click)="goToMyProjects()" >Projetos</a>
                            </button>
                        </div>
                        <div class="content">
                            <button>
                                <a  routerLinkActive="active" class="content-text" (click)="goToWorkExperience()">Experiências</a>
                            </button>
                        </div>

                    </div>
                </mat-toolbar>

            </mat-toolbar>
            <!-- Add Content Here -->
            <section class="holder-container">
                <app-home class="container"></app-home>
            </section>

            <section class="holder-container" id="about-me">
                <app-about-me class="container"></app-about-me>
            </section>

            <section class="holder-container">
                <app-my-projects class="container" id="my-projects"></app-my-projects>
            </section>

            <section class="holder-container">
                <app-professional-experiences class="container" id="work-experience"></app-professional-experiences>
            </section>
        </mat-sidenav-content>
    </mat-sidenav-container>

    
</section>