<div>
    <p class="title">Sobre mim</p>
    <p class="text-apresentation">
        Meu nome é João Victor , tenho 21 anos e atualmente estou cursando o 7º período do curso de Ciências da
        Computação. Desde o final do ensino médio, em 2019, tive meu primeiro contato com programação e, desde então,
        essa tem sido minha principal atividade. Sou natural de Goiás, mais especificamente de Goiânia.<br>

        <br>Além dos estudos, tenho alguns hobbies que me ajudam a relaxar e me divertir. Um deles é jogar CSGO com meus
        amigos. A adrenalina e a estratégia envolvidas nesse jogo me proporcionam momentos de diversão e desafio. Outro
        hobby que adoro é a leitura. Sou um grande fã do autor Stephen King, seus livros envolventes e cheios de
        suspense sempre me prendem do início ao fim.<br>

        <br>Estou constantemente buscando aprimorar minhas habilidades em programação e aprofundar meus conhecimentos na
        área de Ciências da Computação. Sou bastante competitivo, essa característica me impulsiona a sempre buscar melhorias e a me esforçar para alcançar resultados positivos.
    </p>
    <p></p>
</div>