<section>
    <mat-toolbar>
        <div>
            <span class="title">João</span>
            <span class="sub-title">Victor</span>
        </div>
        <div class="containter-content">
            <div class="content">
                <a href="" class="content-text">Sobre mim</a>
            </div>
            <div class="content">
                <a href="" class="content-text">Experiências</a>
            </div>
            <div class="content">
                <a href="" class="content-text">Projetos</a>
            </div>
            <div class="content">
                <a href="" class="content-text">Contato</a>
            </div>
        </div>
    </mat-toolbar>
</section>


