<p class="title">Contato</p>

<div class="holder-content">
    <a href="https://www.linkedin.com/in/jo%C3%A3o-victor-alves-costa-14549b231/" target="_blank">
        <img style="margin-top: 5px;" height="40" width="50"src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" />
    </a>
    <a href="https://wa.me/5511965152953" target="_blank">
        <img height="50" width="50" src="../../../../../assets/icons8-phone.svg" hr />
    </a>
    <a href="mailto:joaovictoralvescosta051@gmail.com" target="_blank">
        <img height="50" width="50" src="../../../../../assets/icons8-gmail.svg" />
    </a>
</div>